# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [4]:
regiment = pd.DataFrame(raw_data)
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [5]:
regiment = regiment.set_index('regiment')

In [6]:
regiment.loc['Nighthawks','preTestScore'].mean()

15.25

### Step 5. Present general statistics by company

In [7]:
regiment['company'].describe()

count      12
unique      2
top       1st
freq        6
Name: company, dtype: object

### Step 6. What is the mean each company's preTestScore?

In [8]:
series1 = regiment.groupby('company').mean()['preTestScore']
series1 = pd.Series(series1, name="Mean")
pd.concat([series1], axis=1)

              Mean
company
1st       6.666667
2nd      15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [9]:
series7 = regiment.groupby(['regiment','company']).mean()['preTestScore']
series7 = pd.Series(series7, name="Mean")
pd.concat([series7], axis=1)

                    Mean
regiment   company
Dragoons   1st       3.5
           2nd      27.5
Nighthawks 1st      14.0
           2nd      16.5
Scouts     1st       2.5
           2nd       2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [10]:
series8 = regiment.groupby(['regiment','company']).mean()['preTestScore']
series8 = pd.Series(series8, name="Mean")
pd.concat([series8], axis=1)

                    Mean
regiment   company
Dragoons   1st       3.5
           2nd      27.5
Nighthawks 1st      14.0
           2nd      16.5
Scouts     1st       2.5
           2nd       2.5

### Step 9. Group the entire dataframe by regiment and company

In [11]:
regiment

           company      name  preTestScore  postTestScore
regiment
Nighthawks     1st    Miller             4             25
Nighthawks     1st  Jacobson            24             94
Nighthawks     2nd       Ali            31             57
Nighthawks     2nd    Milner             2             62
Dragoons       1st     Cooze             3             70
Dragoons       1st     Jacon             4             25
Dragoons       2nd    Ryaner            24             94
Dragoons       2nd      Sone            31             57
Scouts         1st     Sloan             2             62
Scouts         1st     Piger             3             70
Scouts         2nd     Riani             2             62
Scouts         2nd       Ali             3             70

In [12]:
regiment.groupby(['regiment', 'company']).sum()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st                 7             95
           2nd                55            151
Nighthawks 1st                28            119
           2nd                33            119
Scouts     1st                 5            132
           2nd                 5            132

### Step 10. What is the number of observations in each regiment and company

In [13]:
regiment.groupby(['regiment', 'company']).count()

                    name  preTestScore  postTestScore
regiment   company
Dragoons   1st         2             2              2
           2nd         2             2              2
Nighthawks 1st         2             2              2
           2nd         2             2              2
Scouts     1st         2             2              2
           2nd         2             2              2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [14]:
data = regiment.groupby(['regiment','company']).sum().loc['Dragoons']
for x,y in data.iterrows():
    print(x, y)
    print()

1st preTestScore      7
postTestScore    95
Name: 1st, dtype: int64

2nd preTestScore      55
postTestScore    151
Name: 2nd, dtype: int64

data = regiment.groupby(['regiment','company']).sum().loc['Dragoons']
for x,y in data.iterrows():
    print(x, y)
    print()

In [44]:
data = regiment.groupby(['regiment','company']).sum().loc['Dragoons']
for x,y in data.iterrows():
    print(x, y)
    print()

1st preTestScore      7
postTestScore    95
Name: 1st, dtype: int64

2nd preTestScore      55
postTestScore    151
Name: 2nd, dtype: int64