# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [35]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [36]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [37]:
del cars1['Unnamed: 9']

In [38]:
del cars1['Unnamed: 10']

In [39]:
del cars1['Unnamed: 11']

In [40]:
del cars1['Unnamed: 13']

In [41]:
del cars1['Unnamed: 12']

### Step 5. What is the number of observations in each dataset?

In [42]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [43]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [44]:
cars2.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [49]:
cars = cars1.append(cars2)
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [50]:
cars['owners'] = np.random.randint(15000,73000,398)
cars.tail(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser,35084
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l,16570
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe,47395
183,36.0,4,107,75,2205,14.5,82,3,honda accord,22532
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla,62486
185,38.0,4,91,67,1965,15.0,82,3,honda civic,24007
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto),69701
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx,34824
188,25.0,6,181,110,2945,16.4,82,1,buick century limited,50474
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),20064
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion,43445
191,22.0,6,232,112,2835,14.7,82,1,ford granada l,35992
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt,22814
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,66197
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,24859
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,29392
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,64207
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,30999
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,26949
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,33637

### Step 8. Add the column owners to cars

In [34]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,43529
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,43858
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,66123
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35733
4,17.0,8,302,140,3449,10.5,70,1,ford torino,41848